<% if fashion.favorited_by?(current_user) %>
  <p>
    <%= link_to fashion_favorites_path(fashion), method: :delete, remote: true do %>
      ♥<%= fashion.favorites.count %>
    <% end %>
  </p>
<% else %>
  <p>
    <%= link_to fashion_favorites_path(fashion), method: :post, remote: true do %>
      ♡<%= fashion.favorites.count %>
    <% end %>
  </p>
<% end %>