<h1 class="py-5 text-center">lover</h1>

  <div class="pb-3 text-center">
    <%= link_to "Log in", new_user_session_path, class: 'fas fa-sign-in-alt nav-link text-dark' %>
  </div>
  <div class="py-3 text-center">
    <%= link_to "Sign up", new_user_registration_path, class: 'fas fa-user-plus nav-link text-dark' %>
  </div>
